doctype html
block vars
  - var bodyclass = null;

- env.helpers.checkLanguage(page)
- var language = env.helpers.getLanguage()
- page.rawFilename = page.filename
- if( language == 'en' )
  - page.rawFilename = page.filename.substr( page.filename.indexOf('en/') + 3 )
html(lang=language)
  head
    block head
      meta(charset='utf-8')
      meta(name='description', content='Portail professionnel de Jérémy BOUNY')
      meta(name='robots', content='INDEX, FOLLOW')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=env.helpers.makeRelative(page.url, '/feed.xml'), type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel='stylesheet', href=contents.css['bootstrap-yeti.min.css'].url)
      link(rel='stylesheet', href=contents.css['modern-business.css'].url)
      link(rel='stylesheet', href=contents.css['style.css'].url)
      
  body.bodyclass
  
    header.navbar.navbar-default.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target="#navbar-main")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href=env.helpers.contentsI18n(contents).index.url)= locals.name
          
        nav.collapse.navbar-collapse#navbar-main
          ul.nav.navbar-nav.navbar-right
            li
              a(href=env.helpers.contentsI18n(contents).index.url)= env.helpers.s('LAB_HOME')
            li
              a(href=env.helpers.contentsI18n(contents)['experiences.md'].url)= env.helpers.s('LAB_EXPERIENCES')
            li
              a(href=env.helpers.contentsI18n(contents)['competences.md'].url)= env.helpers.s('LAB_COMPETENCES')
            li
              a(href=env.helpers.contentsI18n(contents)['formations.md'].url)= env.helpers.s('LAB_FORMATIONS')
            //-li
            //-  a(href=env.helpers.contentsI18n(contents).blog.url)= env.helpers.s('LAB_BLOG')
            li
              a(href=env.helpers.contentsI18n(contents)['contact.md'].url)= env.helpers.s('LAB_CONTACT')
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")= language.toUpperCase() + ' '
                b.caret
              ul.dropdown-menu
                li
                  - var file = page.filename
                  - if( language == 'fr' )
                      a(href=env.helpers.makeRelative(page.url, 'en/' + page.rawFilename)) EN
                      a(href=page.url) FR
                    - else
                      a(href=page.url) EN
                      a(href=env.helpers.makeRelative(page.url, '../' + page.rawFilename)) FR
                  
    block header
      
    div.container
      block content
          
      footer
        div.row
          div.col-lg-12
            p
              hr
              !=env.helpers.getFooter(contents).html
              
    script(src=env.helpers.makeRelative(page.url, '/js/jquery.min.js'))
    script(src=env.helpers.makeRelative(page.url, '/js/bootstrap.min.js'))
    
    script.
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//jeremybouny.fr/analytics/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    noscript
      p
        img(src="http://jeremybouny.fr/analytics/piwik.php?idsite=1", style="border:0;", alt="")
    
    block script