doctype html
block vars
  - var bodyclass = null;

- env.helpers.checkLanguage(page)
- var language = env.helpers.getLanguage()
- page.rawFilename = page.filename
- moment.lang(language);
- if( language == 'en' )
  - var file = page.filename.replace(/\\/g, '/')
  - page.rawFilename = file.substr( file.indexOf('en/') + 3 )
html(lang=language)
  head
    block head
      meta(charset='utf-8')
      meta(name='description', content=env.helpers.s('LAB_DESC'))
      meta(name='robots', content='INDEX, FOLLOW')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width')
      - if( pageType != 'article' )
        - if( language == 'fr' )
          link(rel='alternate', hreflang='en' href=env.relative(page.url, 'en/' + page.rawFilename))
        - else
          link(rel='alternate', hreflang='fr' href=env.relative(page.url, '../' + page.rawFilename))
      title
        block title
          = locals.name
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel='stylesheet', href=env.relative(page.url, contents.css['bootstrap-yeti.min.css'].url))
      link(rel='stylesheet', href=env.relative(page.url, contents.css['modern-business.css'].url))
      link(rel='stylesheet', href=env.relative(page.url, contents.css['style.css'].url))
      link(rel='stylesheet', href=env.relative(page.url, contents.css['highlightjs.css'].url))
      
  body.bodyclass
  
    div.navbar.navbar-default.navbar-fixed-top(role="navigation")
      div.container
        header.navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target="#navbar-main")
            span.sr-only= env.helpers.s('LAB_TOGGLE')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href=env.relative(page.url, env.i18nContents(contents).index.url))= locals.name
        nav.collapse.navbar-collapse#navbar-main
          ul.nav.navbar-nav.navbar-right
            li
              a(href=env.relative(page.url, env.i18nContents(contents).index.url))= env.helpers.s('LAB_HOME')
            li
              a(href=env.relative(page.url, env.i18nContents(contents)['experiments.md'].url))= env.helpers.s('LAB_EXPERIMENTS')
            li
              a(href=env.relative(page.url, env.i18nContents(contents)['blog.md'].url))= env.helpers.s('LAB_BLOG')
            li
              a(href=env.relative(page.url, env.i18nContents(contents)['contact.md'].url))= env.helpers.s('LAB_CONTACT')
            li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")= env.helpers.s('LAB_ABOUT')
                  b.caret
                ul.dropdown-menu
                  li
                    a(href=env.relative(page.url, env.i18nContents(contents)['experiences.md'].url))= env.helpers.s('LAB_EXPERIENCES')
                  li
                    a(href=env.relative(page.url, env.i18nContents(contents)['competences.md'].url))= env.helpers.s('LAB_COMPETENCES')
                  li
                    a(href=env.relative(page.url, env.i18nContents(contents)['formations.md'].url))= env.helpers.s('LAB_FORMATIONS')
            - if( pageType != 'article' )
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")= language.toUpperCase() + ' '
                  b.caret
                ul.dropdown-menu
                  li
                    - if( language == 'fr' )
                      a(href=env.relative(page.url, 'en/' + page.rawFilename)) EN
                      a(href=page.rawFilename) FR
                    - else
                      a(href=page.rawFilename) EN
                      a(href=env.relative(page.url, '../' + page.rawFilename)) FR
                  
    block header
      
    div.container
      main
        block content
          
      footer
        div.row
          div.col-lg-12
            p
              hr
              !=env.helpers.getFooter(contents).html
              
    script(src=env.relative(page.url, contents.js['jquery.min.js'].url))
    script(src=env.relative(page.url, contents.js['bootstrap.min.js'].url))
    
    script.
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//jeremybouny.fr/analytics/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    noscript
      p
        img(src="http://jeremybouny.fr/analytics/piwik.php?idsite=1", style="border:0;", alt="")
    
    block script